<%= form_for(@micropost) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="field">
    <%= form.text_area :content, placeholder: "Componse new micropost..." %>
  </div>
  <%= form.submit "Post", class: "btn btn-primary" %>
<% end %>
